[submodule "components/sensecap_sdk"]
	path = components/sensecap_sdk
	url = https://github.com/Seeed-Studio/SenseCAP-Watcher-Firmware
[submodule "components/rlottie"]
	path = components/rlottie
	url = https://github.com/0015/esp_rlottie.git
[submodule "components/libpeer"]
	path = components/libpeer
	url = https://github.com/sean-der/libpeer.git
[submodule "deps/libpeer"]
	path = deps/libpeer
	url = https://github.com/sean-der/libpeer.git
